body{
  font-family: 'Montserrat', sans-serif;
  background-color: #1E1E1E;
}

.nav-link:hover{
  color: #519ABA!important;
  opacity :0.5;
}

.nav-item .active{
  color:#519ABA!important;
  font-weight: bold;
}

.jumbotron {
    position: relative;
    overflow: hidden;
    background-color:black;
    padding:0!important;
   /*  border-bottom: 1px solid rgba(81,154,186,0.4);
    border-top: 1px solid rgba(81,154,186,0.4); */
    border-radius: 0!important;
  }

  .jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.5;
  }
  
  .jumbotron .container {
    z-index: 2;
    position: relative;
    padding: 20px!important;
    margin: 0!important;
    
  }
  
  .input-group {
    padding-left:0;
    margin-bottom: 10px!important;
    margin-top:10px;
  }

  .box-curtine{
    z-index: 1;
    border: 0px solid blue;
    margin:0;
    margin-top:40px;
    margin-bottom:40px;
    text-align: center;
    max-width:300px;
    opacity: 0.9;
    padding-left:30px;
    
  }

  .box-curtine p {
    text-align: left;
    color: grey;
  }

  .box-curtine h1 { 
   color: #519ABA;
   text-align: left;
   font-size:47px;
   margin-bottom: 20px;
  }

  .video-curtine{
    background-color:#343a40;
    min-width: 460px;
    height: 200%;
    z-index: 0;
    opacity:0.8;
    position: absolute;
    top: 0;
    left:-114px;
    transform:skewX(-10deg);
  }



 @media (max-width: 576px){
    
  .video-curtine{
     transform:skewX(0deg);
     min-width: 200%;
    }

    .box-curtine{
      margin:auto;
      padding-left: 0;
      padding-right: 0;

    }
  } 

  .content {
    max-width:1000px;
    margin: auto;
    color: grey;
   /* border: 1px solid red;*/
    padding:23px;
    padding-top:0;
  }

  .avatar {
    padding-top:20px;
  }

  .content .card {
    background-color: #343a40;
    color: grey;
    width:100%!important;
  }

  .content .card-title {
    color: #519ABA;
  }
  
  .aboutme h1{
    color: #519ABA;
    text-align: left;
    font-size:47px;
    margin-bottom: 20px;
    margin-top: 15px;
  }


